@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center colour">
    <h1 class="display-4">Welcome</h1>

</div>
<link href="~/css/site.css" rel="stylesheet" />
<div  class="img1"container>

    <img src="~/img/tourbooking.png" />
    
</div>
